$url_font : '../../fonts/';

@font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	src: url($url_font+'notokr-regular.eot');
	src: url($url_font+'notokr-regular.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-regular.woff') format('woff'),
		 url($url_font+'notokr-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 500;
	src: url($url_font+'notokr-medium.eot');
	src: url($url_font+'notokr-medium.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-medium.woff') format('woff'),
		 url($url_font+'notokr-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: url($url_font+'notokr-bold.eot');
	src: url($url_font+'notokr-bold.eot?#iefix') format('embedded-opentype'),
		 url($url_font+'notokr-bold.woff') format('woff'),
		 url($url_font+'notokr-bold.woff2') format('woff2');
}
body{font-family: 'NotoSans';}
/* common */
.ctr-btn{
    margin: 10px 0 20px;
    .decs{
        display: inline-block;
        margin-top: 6px;
        margin-left: 20px;
    }
    .style-toggle-btn{
        padding: 10px;
        border:0 none;
        background: #837466;
        color: #fff;
        font-weight: bold;
        border-radius: 6px;
        margin:0;
        outline: none;
        &.ui-active{
            background: #d1c3b6;
            color: #333;
        }
    }
}

.custom-style{
    a{
        text-decoration: none;
    }
    /* Sticky Custom Style*/
    [data-modules-sticky] .sticky-inner{
        display: inline-block;
        background: #333;
        color: #fff;
        position: relative;
        padding: 10px;
        border-radius: 10px;
    }
    [data-modules-sticky].fixed{
        position: fixed;
    }
    #break{
        border:1px solid #aaa;
        border-radius: 4px;
        position: relative;
    }
    #break5{
        position: absolute;
        top: 800px;
        left: 0;
        right: 0;
        border-top: 1px solid red;
    }


    /* Dropdown */
    .ui-dropdown{
		display: inline-block;
		border:1px solid #ccc;
		padding: 10px;
        color: #333;
        text-align: left;
        .dropdown-menu{
            right: 0;
            border:1px solid #ccc;
            padding: 10px;
            a{
                display: block;
                padding: 5px 0;
            }
        }
        a.readonly, a.disabled {
            cursor: default;
            color: #ccc;
            &:hover{
                text-decoration: none;
            }
        }
    }
    





    /* cascading grid */
    [data-modules-cascadingGrid]{
    
    }
    [data-items]{
        padding: 20px;
        background: #b2cef5;
        color: #333;
    }


    /* Collapse */
    [data-modules-collapse]{
        border:1px solid #999;
        display: block;
        width: 600px;
        padding: 10px 20px;
        position: relative;
        font-size: 16px;
        color: #333;
        &:after{
            content: '';
            width: 10px;
            height: 10px;
            border-right: 2px solid #333;
            border-bottom: 2px solid #333;
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -80%) rotate(45deg);
        }
        &.selected{
            &:after{
                transform: translate(0, -30%) rotate(-135deg);
            }  
        }
    }
    .accordion-panel{
        border: 1px solid #999;
        border-top: 0 none;
        width: 600px;
        margin-top: -1px;
        &.collapsani{
            position: relative;
            transition: height .3s;
            height: 0;
            overflow: hidden;
        }
        .inset{
            padding: 10px 20px;
            min-height: 100px;
        }
    }
    .acc-parent{
        border-top: 1px solid #999;
        width: 600px;
        [data-modules-collapse]{
            border-top: 0 none;
        }
    }


    /* custom toggle */
    [data-modules-customtoggle]{
        display: inline-block;
        padding: 10px 20px;
        background: #333;
        border: 0 none;
        color: #fff;
        border:1px solid transparent;
        &.ui-active{
            color: #333;
            background: #fff;
            border:1px solid #999;
        }
    }
    .parent-wrap {
        // .toggle-body{
        //     display: block !important;
        //     x-height: 0;
        //     overflow: hidden;
        // }
        // &.ui-active .toggle-body{
        //     max-height: 10000px;
        // }
    }

    .ui-tab{
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        font-size: 0;
        [role="presentation"]{
            display: inline-flex;
            font-size: 16px;
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            a{
                display: block;
                padding: 5px 20px;
                color: #999;
                background: #e6e6e6;
            }
            &.ui-active{
                a{
                    text-decoration: underline;
                    font-weight: 700;
                    color: #333;
                    background: #fff;
                }
            }
        }
    }
    .tab-content{
        border:1px solid #333;
        .tab-pane{
            padding: 20px;
            min-height: 300px;
        }
    }















}
