{% import "./template/common_macro.njk" as common_macro %}

{% 
    set title = 'Ui Framework' 
%}

{% extends "./template/layout.njk" %}

{% block inline_style %}
<style>
[data-modules-cascadingGrid]{
 	margin: 0 auto;
 	position: relative;

}
[data-items]{
 		position: absolute;
 		top:0;
 		left:0;
 		width: 150px;
		 background: #333;
		 color: #fff;
}
</style>
{% endblock %}


{% block content %}
	{{common_macro.h1_title("cascadingGrid")}}
	{{common_macro.h2_title("html문서 내 호출 및 기본 구조")}}
	<pre class="ui-code"><code class="html">	
	&lt;!-- 기본 -->
	&lt;div data-modules-cascadingGrid>
		&lt;div data-items>&lt;/div>
		&lt;div data-items>&lt;/div>
		&lt;div data-items>&lt;/div>
		&lt;div data-items>&lt;/div>
	&lt;/div>

	&lt;!-- 커스텀 옵션 사용 -->
	&lt;div data-modules-cascadingGrid="padding:5;">
		&lt;div data-items>&lt;/div>
		&lt;div data-items>&lt;/div>
		&lt;div data-items>&lt;/div>
		&lt;div data-items>&lt;/div>
	&lt;/div>
	</code></pre>

	{{common_macro.h2_title("script에서 호출")}}
	<pre class="ui-code"><code class="javascript">	
	// 기본 옵션없이 호출
	$(Element).cascadingGrid();


	// 커스텀 옵션 사용
	$(Element).cascadingGrid({
		padding:0
	});
	</code></pre>
	{{common_macro.h2_title("최소한의 CSS")}}
	<pre class="ui-code"><code class="css">	
[data-modules-cascadingGrid]{
	margin: 0 auto;
	position: relative;

}
[data-items]{
	position: absolute;
	top:0;
	left:0;
	width: 150px;
	background: #333;
	color: #fff;
}
	</code></pre>
	{{common_macro.h2_title("options")}}
	<div class="d_desc table">
		<table class="table table-bordered table-striped js-options-table">
			<colgroup>
				<col style="width: 200px;">
				<col style="width: 200px;">
				<col style="width: 200px;">
				<col style="width: auto">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>default</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>padding</td>
					<td>Number</td>
					<td>0</td>
					<td>그리스 요소 사이 간격</td>
				</tr>
			</tbody>
		</table>
	</div>
	{{common_macro.h2_title("Method")}}
	<div class="d_desc table">
		<table class="table table-bordered table-striped js-options-table">
			<colgroup>
				<col style="width: 400px;">
				<col style="width: auto">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$(element).cascadingGrid('mount')</td>
					<td>그리드 새로고침, 비동기로 그리드 리스트 추가 시 호출</td>
				</tr>
			</tbody>
		</table>
	</div>
	{{common_macro.h2_title("Event")}}
	<div class="d_desc">
		<ul>
			<li>없음</li>
		</ul>
	</div>
	<div class="dscBox">
		{{common_macro.h2_title("Example")}}
		<div class="ctr-btn">
			<button class="style-toggle-btn"><span data-text>기본스타일만 적용</span></button>
			<span class="decs">* 모듈에 필요한 최소한의 스타일만 남기고 제거합니다.</span>
		</div>
	<div class="code_in">
		<div data-modules-cascadingGrid="padding:5;">
			<div data-items>11<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>21<br>1<br>1<br></div>
			<div data-items>31<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>41<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>51<br>1<br>1<br></div>
			<div data-items>61<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>71<br>1<br>1<br></div>
			<div data-items>81<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>91<br>1<br>1<br></div>
			<div data-items>101<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>111<br>1<br>1<br></div>
			<div data-items>121<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>131<br>1<br>1<br></div>
			<div data-items>141<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>151<br>1<br>1<br></div>
			<div data-items>161<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>1<br>1<br>1<br>1<br>1<br>1<br></div>
			<div data-items>171<br>1<br>1<br></div>
			<div data-items>181<br>1<br>1<br>1<br>1<br>1<br>1<br></div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}