{% 
    set title = 'Ui Framework' 
%}

{% extends "./template/layout.njk" %}

{% block inline_style %}
<style>
[data-modules-moreview].ui-hidden .ui-inset{height: 60px;overflow: hidden;}
[data-modules-moreview].ui-active .ui-inset{height: auto;}

</style>
{% endblock %}

{% block content %}
	<h1 class="h1_guide">Sticky</h1><br>
	<h2 class="h2_guide">html문서 내 호출 및 기본 구조</h2>
	<pre class="ui-code"><code class="html">	
	&lt;!-- 기본 -->
	&lt;div data-modules-moreview="height:42;">
		&lt;div class="ui-inset">
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
			&lt;p>가나다라&lt;/p>
		&lt;/div>
		&lt;div class="btns">
			&lt;button type="button" data-button>&lt;span class="ui-text">더보기&lt;/span>&lt;/button>
		&lt;/div>
	&lt;/div>
	</code></pre>

	<h2 class="h2_guide">script에서 호출</h2>
	<pre class="ui-code"><code class="javascript">	
	// 기본 옵션없이 호출
	$(Element).moreview();


	// 커스텀 옵션 사용
	$(Element).moreview({
		"height":42
	});
	</code></pre>
	<h2 class="h2_guide">최소한의 CSS</h2>
	<pre class="ui-code"><code class="css">	
[data-modules-moreview].ui-hidden .ui-inset{height: 60px;overflow: hidden;}
[data-modules-moreview].ui-active .ui-inset{height: auto;}
	</code></pre>
	<h2 class="h2_guide">options</h2>
	<div class="d_desc table">
		<table class="table table-bordered table-striped js-options-table">
			<colgroup>
				<col style="width: 200px;">
				<col style="width: 200px;">
				<col style="width: 200px;">
				<col style="width: auto">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>default</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>height</td>
					<td>int</td>
					<td>60</td>
					<td>컨텐츠가 이 높이를 초과 하면 스크립트가 적용됩니다.</td>
				</tr>
				<tr>
					<td>openText</td>
					<td>String</td>
					<td>더보기</td>
					<td>Open 텍스트</td>
				</tr>
				<tr>
					<td>closeText</td>
					<td>String</td>
					<td>닫기</td>
					<td>Close 텍스트</td>
				</tr>
				<tr>
					<td>hiddenClass</td>
					<td>String</td>
					<td>ui-hidden</td>
					<td>hidden이 적용될 클래스 명</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h2 class="h2_guide">Method</h2>
	<div class="d_desc">
		<ul>
			<li>없음</li>
		</ul>
	</div>
	<h2 class="h2_guide">Event</h2>
	<div class="d_desc">
		<ul>
			<li>없음</li>
		</ul>
	</div>

	<div class="code_in">
		<h2 class="h2_guide">Example</h2>
		<div class="ctr-btn">
			<button class="style-toggle-btn"><span data-text>기본스타일만 적용</span></button>
			<span class="decs">* 모듈에 필요한 최소한의 스타일만 남기고 제거합니다.</span>
		</div>
		<div data-modules-moreview="height:42;" class="moreview">
			<div class="ui-inset">
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
				<p>가나다라</p>
			</div>
			<div class="btns">
				<button type="button" data-button><span class="ui-text">더보기</span></button>
			</div>
		</div>
	</div>
{% endblock %}