{% import "./template/common_macro.njk" as common_macro %}
{% 
    set title = 'Ui Framework' 
%}

{% extends "./template/layout.njk" %}

{% block content %}
	{{common_macro.h1_title("commonUi")}}
	{{common_macro.h1_title("script에서 호출")}}
	<pre class="ui-code"><code class="javascript">	
	// 기본
	$('body').commonUi()
	</code></pre>
	{{common_macro.h1_title("options")}}
	<div class="d_desc table">
		<ul>
			<li>없음</li>
		</ul>
	</div>
	{{common_macro.h2_title("Method")}}
	<div class="d_desc">
		<table class="table table-bordered table-striped js-options-table">
			<colgroup>
				<col style="width: 500px;">
				<col style="width: auto">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$('body').commonUi('initLibrary')</td>
					<td>비동기로 추가된 마크업 구조(data-modules-.....)들애 대한 모듈 초기화 메서드</td>
				</tr>
			</tbody>
		</table>
	</div>
	{{common_macro.h2_title("기타 기능")}}
	<pre class="ui-code"><code class="html">
&lt;!-- 값들중 1개를 랜덤으로 선택하여 background-color 값으로 지정해준다. -->
&lt;div data-background="#F3EBEA|#F0F6EA|#F8F8EA|#FFF2F4|#EFF6FC|#F9F2ED|#F2EDF8">
	내용.....
&lt;/div>


&lt;!-- 값들중 1개를 랜덤으로 선택하여 클래스 속성의 값으로 지정해준다. -->
&lt;div data-randomclass='blue|pink|yellow|light-pink|purple|light-blue|green'>
	내용.....
&lt;/div>

&lt;!-- 클릭 시 스크롤 최상단으로 이동 -->
&lt;a href="javascript:;" data-btn-top class="btn-list-top">TOP&lt;i class="icon">&lt;/i>&lt;/a>
	</code></pre>
	<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}