{% import "./template/common_macro.njk" as common_macro %}

{% 
    set title = 'Ui Framework' 
%}

{% extends "./template/layout.njk" %}

{% block inline_style %}
<style>
.tab-content > .tab-pane.ui-active{
	display: block;
}
.tab-content > .tab-pane {
  display: none;
}

</style>
{% endblock %}

{% block content %}
	{{common_macro.h1_title("Tab")}}
	{{common_macro.h2_title("html문서 내 호출 및 기본 구조")}}
	<pre class="ui-code"><code class="html">	
	&lt;!-- 기본 -->
	<!-- Nav tabs -->
	&lt;ul class="ui-tab" role="tablist">
		&lt;li role="presentation" class="ui-active">&lt;a href="#home" aria-controls="home" role="tab" data-modules-tab>Tab1&lt;/a>&lt;/li>
		&lt;li role="presentation">&lt;a href="#profile" aria-controls="profile" role="tab" data-modules-tab>Tab2&lt;/a>&lt;/li>
		&lt;li role="presentation">&lt;a href="#messages" aria-controls="messages" role="tab" data-modules-tab>Tab3&lt;/a>&lt;/li>
		&lt;li role="presentation">&lt;a href="#settings" aria-controls="settings" role="tab" data-modules-tab>Tab4&lt;/a>&lt;/li>
	&lt;/ul>
	
	&lt;!-- Tab panes -->
	&lt;div class="tab-content">
		&lt;div role="tabpanel" class="tab-pane ui-active" id="home">tabContent1&lt;/div>
		&lt;div role="tabpanel" class="tab-pane" id="profile">tabContent2&lt;/div>
		&lt;div role="tabpanel" class="tab-pane" id="messages">tabContent3&lt;/div>
		&lt;div role="tabpanel" class="tab-pane" id="settings">tabContent4&lt;/div>
	&lt;/div>
	</code></pre>
	
	{{common_macro.h2_title("script에서 호출")}}
	<pre class="ui-code"><code class="javascript">	
	// 기본
	$(Element).tab();
	</code></pre>
	{{common_macro.h2_title("최소한의 CSS")}}
	<pre class="ui-code"><code class="css">	
.tab-content > .tab-pane.ui-active{
	display: block;
}
.tab-content > .tab-pane {
	display: none;
}
	</code></pre>
	{{common_macro.h2_title("options")}}
	<div class="d_desc">
		- 없음
	</div>
	{{common_macro.h2_title("Method")}}
	<div class="d_desc table">
		<table class="table table-bordered table-striped js-options-table">
			<colgroup>
				<col style="width: 400px;">
				<col style="width: auto">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$(element).tab('show')</td>
					<td>해당하는 텝 컨텐츠 활성화</td>
				</tr>
			</tbody>
		</table>
	</div>
	{{common_macro.h2_title("Event")}}
	<div class="d_desc table">
		<table class="table table-bordered table-striped js-options-table">
			<colgroup>
				<col style="width: 400px;">
				<col style="width: auto">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>show.hui.tab</td>
					<td>show instance 메소드가 호출 될 때 즉시 발생</td>
				</tr>
				<tr>
					<td>shown.hui.tab</td>
					<td>노출 처리 css 전환이 완료 된 후 발생</td>
				</tr>
				<tr>
					<td>hide.hui.tab</td>
					<td>hide 메소드가 호출시 발생</td>
				</tr>
				<tr>
					<td>hidden.hui.tab</td>
					<td>숨김처리 css 전환이 완료된 후 발생</td>
				</tr>
			</tbody>
		</table>
	</div>
	{{common_macro.h2_title("Example")}}
	<div class="ctr-btn">
		<button class="style-toggle-btn"><span data-text>기본스타일만 적용</span></button>
		<span class="decs">* 모듈에 필요한 최소한의 스타일만 남기고 제거합니다.</span>
	</div>
	<div class="code_in">
		<div>
			<!-- Nav tabs -->
			<ul class="ui-tab" role="tablist">
			  <li role="presentation" class="ui-active"><a href="#home" aria-controls="home" role="tab" data-modules-tab>Tab1</a></li>
			  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-modules-tab>Tab2</a></li>
			  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-modules-tab>Tab3</a></li>
			  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-modules-tab>Tab4</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
			  <div role="tabpanel" class="tab-pane ui-active" id="home">tabContent1</div>
			  <div role="tabpanel" class="tab-pane" id="profile">tabContent2</div>
			  <div role="tabpanel" class="tab-pane" id="messages">tabContent3</div>
			  <div role="tabpanel" class="tab-pane" id="settings">tabContent4</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br>
{% endblock %}