<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
</head>
<body>
<div id="wrap" class="coding_guide">
	<div class="test_div">
        <% for(var i = 0 ; i<5 ; i++) { %>
            <p>43243441111144324</p>
        <% } %>
	</div>
</div>
</body>
</html>