
{% set var = 'var111111입니다.' %}

{% set data = {
    data1 : {
        a : 'bbbbb',
        c : 'ccc'
    },
    data2 : {
        a : 'bbbbb',
        c : 'ccc'
    },
    data3 : {
        a : 'bbbbb',
        c : 'ccc'
    }

} %}
sdsdfsdfsdfsdf
    sdsdfsdfsdf


{% extends "./template/layout.njk" %}

{% block content %}
    <p>HOME ewrwerew111rewrwer</p>
        <p>{{var}}</p>
        <a href="sdsdfsdf"></a>
        aafsfsd111f    
        sdsdfsdfsdf
        sdsdfsdfsdffsd
        <fieldset>
        dsfsdfdsfdsfsdf
        sdsdfsdfsdff</fieldset>
{% endblock %}
    